
.old-paper-1 {
    background-image: url('../images/paper/1.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.old-paper-2 {
    background-image: url('../images/paper/2.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.old-paper-3 {
    background-image: url('../images/paper/3.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.old-paper-4 {
    background-image: url('../images/paper/4.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}



.old-paper-5 {
    background-image: url('../images/paper/5.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-6 {
    background-image: url('../images/paper/6.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-7 {
    background-image: url('../images/paper/7.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-8 {
    background-image: url('../images/paper/8.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-9 {
    background-image: url('../images/paper/9.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-10 {
    background-image: url('../images/paper/10.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-11 {
    background-image: url('../images/paper/11.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.old-paper-12 {
    background-image: url('../images/paper/12.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.old-paper-13 {
    background-image: url('../images/paper/13.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.old-paper-14 {
    background-image: url('../images/paper/14.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.old-paper-15 {
    background-image: url('../images/paper/15.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.old-paper-16 {
    background-image: url('../images/paper/16.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}













.header_background {
    background-image: url('../images/exhibition/trommelfeuer_1914.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100%;
}

.kk-background {
    background-image: url('../images/exhibition/kk_karte.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto;
}


.bg-bukowina-verkehrskarte {
    background-image: url('../images/exhibition/bukowina_verkehrskarte.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}



.bg-bukovina_muster {
    background-image: url('../images/exhibition/bukovina_muster.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}


.bg-kriegsschaden {
    background-image: url('../images/exhibition/kriegsschaden_1917.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

