{% extends "layout.html" %}

{% block content %}
    <div class="wrapper">
        <div class="main_exi">
            <section id="section-1">
                <h1 class="text-center">{{ _('page_titel') }}</h1>
                <h2 class="text-center">{{ _('page_subtitel') }}</h2>
            </section>
            <section id="section-2">
                    <div class="row mt-5">
                        <div class="col">
                            {{ images['kundmachung19071915']|safe }}
                        </div>
                        <div class="col-3">
                            <p class="inner_monolog">{{ _('inner_monolog_1') }}</p>
                        </div>
                        <div class="col">
                            {{ images['kuk_maschinengewehr']|safe }}
                        </div>
                    </div>
            </section>
            <section id="section-3">
                    <div class="row mt-5">
                        <div class="col">
                            {{ images['kundmachung20051916']|safe }}
                        </div>
                        <div class="col-3">
                            <p class="inner_monolog">{{ _('inner_monolog_2') }}</p>
                        </div>
                        <div class="col">
                            {{ images['kriegsschaeden1917']|safe }}
                        </div>
                    </div>
            </section>
            <section id="section-4">
        <iframe src="https://rsimon.github.io/zukunftsfonds-mobile-site/" width="1200" height="600"></iframe>
            </section>
            <section id="section-5">
                 <div class="row mt-5">
                        <div class="col source-text">
                            {{ _('pfarrchronik_oberhollabrunn_1916')}}
                        </div>
                        <div class="col-3">
                            <p class="inner_monolog">{{ _('inner_monolog_3') }}</p>
                        </div>
                        <div class="col">
                            {{ images['ansicht_oberhollabrunn1910']|safe }}
                            {{ images['lagertor']|safe }}
                        </div>
                    </div>
            </section>
            <section id="section-6">
                <div class="row mt-5">
                        <div class="col source-text">
                            {{ _('pfarrchronik_oberhollabrunn_1916')}}
                        </div>
                        <div class="col-3">
                            <p class="inner_monolog">{{ _('inner_monolog_4') }}</p>
                        </div>
                        <div class="col">
                            {{ images['lagertor_oberhollabrunn1916']|safe }}
                        </div>
                    </div>
            </section>
            <section id="section-7">
                <h1>Section 7</h1>
                <p>Cum asperiores temporibus itaque consequatur quod inventore, quia quis explicabo
                    dicta esse minus voluptatem reiciendis eveniet animi, necessitatibus illum
                    dolorem doloremque repellat placeat, dolores eaque.</p>
            </section>
            <section id="section-8">
                <h1>Section 8</h1>
                <p>Optio qui, omnis itaque rerum iusto molestiae necessitatibus deleniti quod
                    tenetur id perspiciatis voluptatum dolorum quisquam eius ipsum non architecto
                    labore! Distinctio, tenetur. Officiis, necessitatibus?</p>
            </section>
            <section id="section-9">
                <h1>Section 9</h1>
                <p>Rem iste iure blanditiis excepturi esse nisi corrupti sequi, illo, laborum quo
                    quis quaerat assumenda perspiciatis quod fuga vel laudantium doloribus
                    architecto tempora omnis earum!</p>
            </section>
        </div>
        <div class="sidebar nav d-flex">
            <ul class="">
                <li style="background-color: #ece1be"><a href="#section-1"></a></li>
                <li style="background-color: #b05fb5"><a href="#section-2"></a></li>
                <li style="background-color: #beeccd"><a href="#section-3"></a></li>
                <li style="background-color: #aac1ef"><a href="#section-4"></a></li>
                <li style="background-color: #ba6565"><a href="#section-5"></a></li>
                <li style="background-color: #28b080"><a href="#section-6"></a></li>
                <li style="background-color: #632d85"><a href="#section-7"></a></li>
                <li style="background-color: #c37f83"><a href="#section-8"></a></li>
                <li style="background-color: #3fae6b"><a href="#section-9"></a></li>
            </ul>
        </div>
    </div>

{% endblock %}
