{% extends "layout.html" %}

{% block content %}
  <div class='scroll-bar-wrapper'>
    <div class='scroll-bar'></div>
  </div>
  {% for page in pages %}
{#    <section id="section-{{ loop.index }}">#}
{#      <div class="container-fluid" style="">#}
        {% include page %}
        <div style="padding-bottom: 200px"></div>
{#        <div class="navbar navbar-default navbar-fixed-bottom">#}
{#          <div class="container justify-content-center">#}
{#            <a href="#section-{{ loop.index + 1 }}">#}
{#              <i class="bi bi-arrow-down-circle down-button"></i>#}
{#            </a>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}
  {% endfor %}
  <div class="container">
    {% include 'multilingual/modal.html' %}
  </div>
{% endblock %}
