{% extends "layout.html" %}
{% block content %}
    <h1 class="text-center">{{ _('page_titel')}}</h1>
    <div class="">
        <p>{{ _('intro_paragraph_1') }}</p>
        <p>{{ _('intro_paragraph_2') }}</p>
        <p>{{ _('intro_paragraph_3') }}</p>
        <p>{{ _('intro_paragraph_4') }}</p>
        <p>{{ _('intro_paragraph_5') }}</p>
    </div>

    <h2>{{ _('Further reading') }}</h2>

    <ul>
    {% for book in books %}
        <li>
        {{ books[book] }}
        </li>
    {% endfor %}
    </ul>






{% endblock content %}
