{# Texts for newspaper citation #}
{{ _('deutsches_volksblatt_20061915') }}
{{ _('neue_freie_presse_18071916') }}
{{ _('czernowitzer_tagblatt_27081914') }}
{{ _('innsbrucker_nachrichten_10071916') }}
{{ _('neue_freie_presse_20061916') }}
{{ _('neue_freie_presse_18071916_2') }}
{{ _('pfarrchronik_oberhollabrunn_1916_1') }}
{{ _('wochenzeitung_24031916') }}
{{ _('pfarrchronik_oberhollabrunn_1916_2') }}
{{ _('wochenzeitung_21011916') }}
{{ _('wochenzeitung_26021915') }}
{{ _('pfarrchrobnik_oberhollabrunn_1915_Bom') }}
{{ _('eggenburger_zeitung_29091916') }}
{{ _('eggenburger_zeitung_17111916') }}
{{ _('neue_freie_presse_09071916') }}
{{ _('neue_freie_presse_15091916') }}
{{ _('eggenburger_zeitung_21051915') }}
{{ _('wochenzeitung_10111916') }}
{{ _('wochenzeitung_22091916') }}
{{ _('neue_freie_presse_13071917') }}
{{ _('pfarrchronik_oberhollabrunn_1917') }}
{{ _('illustrierte_kronen_zeitung_08071916') }}
{{ _('allgemeiner_tiroler_18071917') }}
{{ _('oesterreichische_illustrierte_zeitung_21101917') }}
{{ _('wochenzeitung_29031918') }}
{{ _('eggenburger_zeitung_26041918') }}

{# Texts for images #}
{{ _('artilleriestellung_191606') }}
{{ _('trommelfeuer_1914') }}
{{ _('kirche_toporoutz') }}
{{ _('ansichtskarte_sadogora') }}
{{ _('ansichtskarte_czernowitz') }}
{{ _('oest_ung_sprachgebiete') }}
{{ _('bukowina') }}
{{ _('bahnhof_czernowitz') }}
{{ _('kundmachung_19071915') }}
{{ _('ansicht_czernowitz_1916') }}
{{ _('eisenbahnbruecke_061915') }}
{{ _('flucht_bukowina') }}
{{ _('kundmachung_20061916') }}
{{ _('kriegsschaden_1917') }}
{{ _('postkarte_bahnhof_oberhollabrunn') }}
{{ _('ansicht_oberhollabrunn_1910') }}
{{ _('lagerbuch_1903_1935') }}
{{ _('lagertor') }}
{{ _('verwaltungsgebaeude') }}
{{ _('quarantaenebaracke') }}
{{ _('haupttor_1916') }}
{{ _('baracke_film') }}
{{ _('ansichtkarte_1917') }}
{{ _('ansicht_stadt_lager') }}
{{ _('lagerplan_oberhollabrunn') }}
{{ _('aufnahmen_kriegspresse') }}
{{ _('schuettkasten') }}
{{ _('cziebanowski_lagerbuch') }}
{{ _('vermisstenanzeige') }}
{{ _('kirlibaba_1916') }}
{{ _('ansicht_bad_dorna_watra_1916') }}
{{ _('stellung_dorna_watra_1917') }}
{{ _('lagergeld') }}
{{ _('gruppenbild_1918') }}
{{ _('pferdefuhrwerk') }}
{{ _('lagerbahn') }}
{{ _('totenbeschau_popeskul') }}
{{ _('totenbeschau_pawluk') }}
{{ _('schreiben_lagerverwaltung') }}
{{ _('lagerkirche') }}
{{ _('totenschein_basil') }}
{{ _('geburt_roman') }}
{{ _('truhe_fluchtlinge') }}
{{ _('standbild_erholung') }}
{{ _('kk_frontlines') }}


{# Text  for inner monolog #}
{{ _('inner_monolog_01') }}
{{ _('inner_monolog_02') }}
{{ _('inner_monolog_03') }}
{{ _('inner_monolog_04') }}
{{ _('inner_monolog_05') }}
{{ _('inner_monolog_06') }}
{{ _('inner_monolog_07') }}
{{ _('inner_monolog_08') }}
{{ _('inner_monolog_09') }}
{{ _('inner_monolog_10') }}
{{ _('inner_monolog_11') }}
{{ _('inner_monolog_12') }}
{{ _('inner_monolog_13') }}
{{ _('inner_monolog_14') }}
{{ _('inner_monolog_15') }}
{{ _('inner_monolog_16') }}
{{ _('inner_monolog_17') }}
{{ _('inner_monolog_18') }}
{{ _('inner_monolog_19') }}
{{ _('inner_monolog_20') }}
{{ _('inner_monolog_21') }}
{{ _('inner_monolog_22') }}
{{ _('inner_monolog_23') }}
{{ _('inner_monolog_24') }}
{{ _('inner_monolog_25') }}
{{ _('inner_monolog_26') }}
{{ _('inner_monolog_27') }}
{{ _('inner_monolog_28') }}
{{ _('inner_monolog_29') }}
{{ _('inner_monolog_30') }}
{{ _('inner_monolog_31') }}
{{ _('inner_monolog_32') }}
{{ _('inner_monolog_33') }}
{{ _('inner_monolog_34') }}
{{ _('inner_monolog_35') }}

{# Books #}
{{ _('MHermann2017_1') }}
{{ _('MHermann2017_2') }}
{{ _('Wmentzel2013') }}
{{ _('WMentzel1997') }}
{{ _('HLeidinger2014') }}
{{ _('ASenarclens2018') }}
{{ _('WLamm1999') }}


{#  Custom #}
{{ _('page') }}
