{{ _('pfarrchronik_oberhollabrunn_1916') }}
{{ _('wochenzeitung24031916') }}
{{ _('eggenburger_zeitung29091916') }}
{{ _('eggenburger_zeitung17111916') }}
{{ _('allgemeiner_tiroler18071917') }}
{{ _('kremser_zeitung05021916') }}
{{ _('pfarrchronik_oberhollabrunn1917') }}
{{ _('wochenzeitung24051918') }}


{{ _('kundmachung19071915') }}
{{ _('kuk_maschinengewehr') }}
{{ _('kundmachung20051916') }}
{{ _('kriegsschaeden1917') }}
{{ _('ansicht_oberhollabrunn1910') }}
{{ _('lagertor') }}
{{ _('lagertor_oberhollabrunn1916') }}
{{ _('ansicht_stadt_fluchtlingslager') }}
{{ _('Lageplan') }}
{{ _('cziebanowski_lagerbuch') }}
{{ _('oberhollabrunn_vermisstenanzeigen') }}
{{ _('handwerk') }}
{{ _('lagergeld') }}
{{ _('schule') }}
{{ _('zug') }}
{{ _('totenbeschauung') }}
{{ _('kirche') }}
{{ _('lagerverwaltung') }}
{{ _('gruppe1918') }}
