<!DOCTYPE html>
<html lang="en">
<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous">
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='styles/parallax.css') }}">
  <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='styles/backgrounds.css') }}">
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Pacifico">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sacramento">
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=UnifrakturMaguntia">
  <meta charset="UTF-8">

  <link rel="icon" type="image/png"
        href="{{ url_for('static', filename='favicon.ico') }}">
  <title>{{ title }}</title>
</head>
<body>
{% include 'nav.html' %}
<div class="container-fluid w-100">
  {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/scroll_indicator.js') }}"></script>
</body>
</html>
