<!DOCTYPE html>
<html lang="en">
<head>
    <!-- CSS only -->
    <link rel="stylesheet"
          type="text/css"
          href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='styles/style.css') }}">
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>{{ title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page"
                   href="{{ url_for('multilingual.intro') }}">{{ _('Intro') }}</a>
                <a class="nav-link"
                   href="{{ url_for('multilingual.exhibition') }}">{{ _('Exhibition') }}</a>
            </div>
        </div>
        <div class="d-flex">
            <form class="container-fluid justify-content-start">
                <a  style="text-decoration: none;" href="{{ url_for(request.endpoint, lang_code='en') }}">
                    <button class="btn btn-sm btn-outline-secondary" type="button">
                        EN
                    </button>
                </a>
                <a  href="{{ url_for(request.endpoint, lang_code='de') }}">
                    <button class="btn btn-sm btn-outline-secondary" type="button">
                        DE
                    </button>
                </a>


            </form>
        </div>
    </div>

</nav>
<div class="container">
    <hr>
    {% block content %}{% endblock %}
</div>

</body>

<script src="{{ url_for('static', filename='js/sticky_nav_exi.js') }}"></script>
</html>
