<div class="row mt-5 mb-5 old-paper">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col img-rotate-right-15">
      {{ images['artilleriestellung_191606']|safe }}
    </div>
    <div class="col img-rotate-left-5">
      {{ images['trommelfeuer_1914']|safe }}
    </div>
  </div>
  <div class="col-xxl-4">
    <p class="inner_monolog">{{ _('inner_monolog_02') }}</p>
    <p class="inner_monolog">{{ _('inner_monolog_03') }}</p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <div class="col img-rotate-left-10">
      {{ images['kirche_toporoutz']|safe }}
    </div>
    <div class="col ms-5">
    {{ newspaper['deutsches_volksblatt_20061915']|safe }}
    </div>
  </div>
</div>

