<div class="row py-5 px-5 justify-content-center">
  <div class="row col-xxl-4 ">
    <div class="row">
      {{ images['artilleriestellung_191606']|safe }}
    </div>
    <div class="row ">
      {{ images['trommelfeuer_1914']|safe }}
    </div>
  </div>
  <div class="col-xxl-3  ">
    <div class="old-paper">
      <p class="inner_monolog">{{ _('inner_monolog_02') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_03') }}</p>
    </div>
  </div>
  <div class="row col-xxl-4 ">
    <div class="row justify-content-end">
      {{ images['kirche_toporoutz']|safe }}
    </div>
    <div class="row justify-content-center">
      {{ newspaper['deutsches_volksblatt_20061915']|safe }}
    </div>
  </div>
</div>

