<article>
  <div class="row  py-5 px-5 category ">

    <div class="row col-lg-4 ">
      {{ images['bukowina_verkehrskarte']|safe }}
    </div>

    <div class="col-lg-4">
      <div class="old-paper-4 col-9 mx-auto">
        <p class="inner_monolog">{{ _('inner_monolog_06') }}</p>
        <p class="inner_monolog">{{ _('inner_monolog_07') }}</p>
      </div>
    </div>
    <div class="row col-lg-4">
      {{ images['bahnhof_czernowitz']|safe }}
    </div>
  </div>
  <div class="row  title">
    <div class="row col-lg-4">
      {{ images['bukowina_verkehrskarte_focus']|safe }}
    </div>
    <div class="col-lg-4">
    </div>
    <div class="row col-lg-4">
    </div>
  </div>

</article>

