<div class="row py-5 px-5">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col">

    </div>
    <div class="col">
      {{ images['ansicht_czernowitz_1916']|safe }}
    </div>

  </div>
  <div class="row-cols-lg-1 col-xxl-4 old-paper">
    <div class="col">
      <p class="inner_monolog">
        {{ _('inner_monolog_08') }}
        <br>
        {{ _('inner_monolog_09') }}
      </p>
    </div>
  </div>

  <div class="row row-cols-lg-1 col-xxl-4">

    <div class="col ">
      {{ newspaper['neue_freie_presse_20061916']|safe }}
    </div>
    <div class="col">
      {{ images['eisenbahnbruecke_061915']|safe }}
    </div>
  </div>
</div>

</div>
