
 <div id="plx">
  <div class="container ">
    <div class="vh-100">
      <div class="row vh-100 justify-content-center align-content-center align-items-center ">
        <div class="row row-cols-lg-1 col-xxl-4">
          {{ images['postkarte_bahnhof_oberhollabrunn']|safe }}
        </div>
        <div class="row row-cols-lg-1 col-xxl-4">
          {{ newspaper['pfarrchronik_oberhollabrunn_1916_1']|safe }}
        </div>
        <div class="row row-cols-lg-1 col-xxl-4">
          {{ images['ansicht_oberhollabrunn_1910']|safe }}
        </div>
      </div>
    </div>
  </div>
</div>

