

<div class="row py-5 px-5 ">
  <div class="row col-xxl-4 ">
    {{ images['lagerbuch_1903_1935']|safe }}
  </div>
  <div class="col-xxl-4 d-flex align-items-center justify-content-center align-content-center ">
    <div class="old-paper col-9 ">
      <p class="inner_monolog">{{ _('inner_monolog_11') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_12') }}</p>
    </div>
  </div>
  <div class="row col-xxl-4">
         {{ images['verwaltungsgebaeude']|safe }}
      {{ images['quarantaenebaracke']|safe }}
  </div>
</div>

