<div class="row py-5 px-5">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col">

    </div>
    <div class="col py-5 px-5">
      {{ newspaper['wochenzeitung_24031916']|safe }}
    </div>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4 old-paper">
    <p class="inner_monolog">
      {{ _('inner_monolog_15') }}
    </p>
    <p class="inner_monolog">
      {{ _('inner_monolog_16') }}
    </p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col ">
      {{ images['ansicht_stadt_lager']|safe }}
    </div>
  </div>
</div>
