<div class="row mt-5 mb-5">
    <div class="col-md-4">
        {{ newspaper['wochenzeitung_26021915']|safe }}
    </div>
    <div class="col-md-4">
        <p class="inner_monolog">{{ _('inner_monolog_15') }}</p>
        <p class="inner_monolog">{{ _('inner_monolog_16') }}</p>
        <p class="inner_monolog">{{ _('inner_monolog_17') }}</p>
    </div>
    <div class="col-md-4">
        {{ images['schuettkasten']|safe }}
        {{ newspaper['pfarrchrobnik_oberhollabrunn_1915_Bom']|safe }}
    </div>
</div>

