<div class="row py-5 px-5 bg-cork">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col pt-3">
      {{ newspaper['pfarrchronik_oberhollabrunn_1916_1']|safe }}
    </div>
    <div class="col pt-3">
      {{ newspaper['wochenzeitung_21011916']|safe }}
    </div>
    <div class="col pt-3">
      {{ newspaper['wochenzeitung_24031916']|safe }}
    </div>
  </div>
  <div class="row row-cols-lg-1 col-xxl-8">
    <div class="col h-100 align-content-center justify-content-center align-items-center">
      {{ images['lagerplan_oberhollabrunn']|safe }}
    </div>
  </div>
</div>
