<div class="row py-5 px-5 ">
  <div class="row col-xxl-4 ">
    {{ newspaper['wochenzeitung_02071915']|safe }}
    {{ newspaper['pfarrchrobnik_oberhollabrunn_1915']|safe }}
  </div>
  <div class="col-xxl-4 ">
    <div class="old-paper-10 col-9 mx-auto">
      <p class="inner_monolog">{{ _('inner_monolog_17') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_18') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_19') }}</p>
    </div>
  </div>
  <div class="row col-xxl-4 justify-content-center align-items-center align-content-center">
    {{ images['schuettkasten']|safe }}
  </div>
</div>

