<div class="row mt-5 mb-5 justify-content-center">
  <div class="row row-cols-lg-1 col-xxl-4">
    {{ newspaper['wochenzeitung_26021915']|safe }}
    {{ newspaper['pfarrchrobnik_oberhollabrunn_1915']|safe }}
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <p class="inner_monolog">
      {{ _('inner_monolog_14') }}
      <br>
      {{ _('inner_monolog_15') }}
      <br>
      {{ _('inner_monolog_16') }}
    </p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    {{ images['schuettkasten']|safe }}
  </div>
</div>

