<div class="row py-5 px-5">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col ">
      {{ newspaper['eggenburger_zeitung_29091916']|safe }}
    </div>
    <div class="col ">
      {{ images['cziebanowski_lagerbuch']|safe }}
    </div>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4 old-paper">
    <p class="inner_monolog">
      {{ _('inner_monolog_20') }}
    </p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <div class="col">
      {{ images['vermisstenanzeige']|safe }}
    </div>
    <div class="col">
      {{ newspaper['eggenburger_zeitung_17111916']|safe }}
    </div>
  </div>
</div>
