<div class="row py-5 px-5 ">
  <div class="row col-lg-4 ">
    {{ images['kirlibaba_1916']|safe }}
    {{ newspaper['neue_freie_presse_09071916']|safe }}
    {{ images['ansicht_bad_dorna_watra_1916']|safe }}
  </div>
  <div class="col-lg-4 ">
    <div class="old-paper-12 col-9 mx-auto ">
      <p class="inner_monolog">{{ _('inner_monolog_21') }}</p>
    </div>
  </div>
  <div class="row col-lg-4">
    {{ images['stellung_dorna_watra_1917']|safe }}
    {{ newspaper['neue_freie_presse_15091916']|safe }}
  </div>
</div>

