<div class="row py-5 px-5 ">
  <div class="row col-xxl-4 ">
    {{ newspaper['eggenburger_zeitung_21051915']|safe }}
    {{ images['lagergeld']|safe }}
    {{ newspaper['wochenzeitung_22091916']|safe }}
  </div>

  <div class="col-xxl-4 ">
    <div class="old-paper-12 col-9 mx-auto">
      <p class="inner_monolog">{{ _('inner_monolog_22') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_23') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_24') }}</p>
    </div>
  </div>
  <div class="row col-xxl-4">
    {{ images['gruppenbild_1918']|safe }}
    {{ newspaper['wochenzeitung_10111916']|safe }}
    {{ images['lagerbahn']|safe }}
    {{ newspaper['neue_freie_presse_13071917']|safe }}
    {{ images['pferdefuhrwerk']|safe }}
  </div>
</div>
