


<div class="row mt-5 mb-5 justify-content-center">
  <div class="row row-cols-lg-1 col-xxl-4">

    {{ newspaper['wochenzeitung_22091916']|safe }}
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <p class="inner_monolog">{{ _('inner_monolog_21') }}</p>
    <p class="inner_monolog">{{ _('inner_monolog_22') }}</p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    {{ images['lagerbahn']|safe }}
    {{ newspaper['neue_freie_presse_13071917']|safe }}
        {{ images['pferdefuhrwerk']|safe }}
  </div>
</div>
