
<div class="row py-5 px-5">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col">
       {{ images['lagerkirche']|safe }}
    </div>
    <div class="col ">
    {{ images['totenschein_basil']|safe }}
    </div>
  </div>
  <div class="col-xxl-4 old-paper">
    <p class="inner_monolog">{{ _('inner_monolog_28') }}</p>
    <p class="inner_monolog">{{ _('inner_monolog_29') }}</p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <div class="col">
     {{ newspaper['illustrierte_kronen_zeitung_08071916']|safe }}
    </div>
    <div class="col">
     {{ images['geburt_roman']|safe }}
    </div>
  </div>
</div>

