

<div class="row py-5 px-5 ">
  <div class="row col-xxl-4 ">
       {{ images['lagerkirche']|safe }}
    {{ images['totenschein_basil']|safe }}
  </div>
  <div class="col-xxl-4 ">
    <div class="old-paper-15 col-9 mx-auto ">
      <p class="inner_monolog">{{ _('inner_monolog_28') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_29') }}</p>
    </div>
  </div>
  <div class="row col-xxl-4">
     {{ newspaper['illustrierte_kronen_zeitung_08071916']|safe }}
     {{ images['geburt_roman']|safe }}
  </div>
</div>

