<div class="row py-5 px-5 bg-bukovina_muster">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col">
  {{ newspaper['allgemeiner_tiroler_18071917']|safe }}
    </div>
    <div class="col ">
      {{ images['standbild_erholung']|safe }}
    </div>
  </div>
  <div class="col-xxl-4 old-paper">
    <p class="inner_monolog">{{ _('inner_monolog_30') }}</p>
    <p class="inner_monolog">{{ _('inner_monolog_31') }}</p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <div class="col ms-5">
        {{ images['truhe_fluchtlinge']|safe }}
    </div>
    <div class="col ms-5">
              {{ newspaper['oesterreichische_illustrierte_zeitung_21101917']|safe }}
    </div>
  </div>
</div>

