<div class="row py-5 px-5 ">
  <div class="row col-lg-4 ">
  {{ newspaper['allgemeiner_tiroler_18071917']|safe }}
      {{ images['standbild_erholung']|safe }}
  </div>
  <div class="col-lg-4 ">
    <div class="old-paper-16 col-9 mx-auto ">
      <p class="inner_monolog">{{ _('inner_monolog_30') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_31') }}</p>
    </div>
  </div>
  <div class="row col-lg-4">
         {{ images['truhe_fluchtlinge']|safe }}
    {{ newspaper['oesterreich_illustrierte_21101917']|safe }}
  </div>
</div>

