

<div class="row mt-5 mb-5 justify-content-center">
    <div class="row row-cols-lg-1 col-xxl-4">
        {{ newspaper['wochenzeitung_29031918']|safe }}
    </div>
    <div class="row row-cols-lg-1 col-xxl-4">
        <p class="inner_monolog">{{ _('inner_monolog_29') }}</p>
        <p class="inner_monolog">{{ _('inner_monolog_30') }}</p>
        <p class="inner_monolog">{{ _('inner_monolog_31') }}</p>
    </div>
    <div class="row row-cols-lg-1 col-xxl-4">
        {{ newspaper['eggenburger_zeitung_26041918']|safe }}
    </div>
</div>


