<div class="row py-5 px-5">
  <div class="row row-cols-lg-1 col-xxl-4 ">
    <div class="col">
      {{ newspaper['wochenzeitung_29031918']|safe }}
    </div>
  </div>
  <div class="col-xxl-4 old-paper">
    <p class="inner_monolog">{{ _('inner_monolog_32') }}</p>
    <p class="inner_monolog">{{ _('inner_monolog_33') }}</p>
    <p class="inner_monolog">{{ _('inner_monolog_34') }}</p>
  </div>
  <div class="row row-cols-lg-1 col-xxl-4">
    <div class="col ms-5">
      {{ newspaper['eggenburger_zeitung_26041918']|safe }}
    </div>
  </div>
</div>

