<div class="row py-5 px-5 ">
  <div class="row col-xxl-4 ">
    {{ newspaper['wochenzeitung_29031918']|safe }}
  </div>
  <div class="col-xxl-4 ">
    <div class="old-paper-15 col-9 mx-auto ">
      <p class="inner_monolog">{{ _('inner_monolog_32') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_33') }}</p>
      <p class="inner_monolog">{{ _('inner_monolog_34') }}</p>
    </div>
  </div>
  <div class="row col-xxl-4">
    {{ newspaper['eggenburger_zeitung_26041918']|safe }}
  </div>
</div>

