<p>
  Die virtuelle Ausstellung „Auf der Flucht in der Monarchie: Das Schicksal der orthodoxen Flüchtlinge im Lager Oberhollabrunn (1914-1918)“ wird veröffentlicht von:

Digitales Geoportal der Geschichte der Orthodoxen in Österreich

Vertreten durch:
Doz. Mag. Dr. Mihailo Popović, Projektleiter
Kiningergasse 12/2/7
1120 Wien
Österreich

Kontakt: mihailop@hotmail.com

Die virtuelle Ausstellung „Auf der Flucht in der Monarchie: Das Schicksal der orthodoxen Flüchtlinge im Lager Oberhollabrunn (1914-1918)“ wurde vom Zukunftsfonds der Republik Österreich im Rahmen des Projektes P19-3804 gefördert.

Zum Projekt: https://orthodoxes-europa.at/projekte/Flucht-Gefangenschaft-Neubeginn-und-Widerstand

Inhaltlich verantwortlich:
Doz. Mag. Dr. Mihailo Popović, Projektleiter
Digitales Geoportal der Geschichte der Orthodoxen in Österreich
Kiningergasse 12/2/7
1120 Wien
Österreich

Konzeption & Ausstellungstexte
Verena Demel, Peter Fraundorfer, Sandra Wabnitz, Mihailo Popović

Kommunikationsdesign
Peter Fraundorfer

Website
Bernhard Koschicek-Krombholz

Wien 2021

</p>
