<div class="row d-flex justify-content-center ">
  <div class="col-4 ">
    <p class="text-center">

      {{ _('impressum_1') }}
    </p>
    <p class="text-center">
      Digitales Geoportal der Geschichte der Orthodoxen in Österreich
    </p>
    <p class="pt-3 text-center fw-bold">
      {{ _('vertreten_durch') }}
    </p>
    <p class="text-center">
      Doz. Mag. Dr. Mihailo Popović, {{ _('projektleiter') }} <br/>
      Kiningergasse 12/2/7<br/>
      1120 Wien<br/>
      Österreich<br/>
    </p>
    <p class=" pt-3 text-center fw-bold">
      {{ _('kontakt') }}
    </p>
    <p class="text-center">
      <a href="mailto:mihailop@hotmail.com">mihailop@hotmail.com</a>
      <br/>
      <a href="mailto:orthodoxes.europa@gmail.com">orthodoxes.europa@gmail.com</a>
    </p>
    <p class=" pt-3 text-center">
      {{ _('impressum_2') }}
    </p>
    <p class=" pt-3 text-center fw-bold">
      {{ _('zum_projekt') }}
    </p>
    <p class=" text-center">
      <a href="https://orthodoxes-europa.at/projekte/Flucht-Gefangenschaft-Neubeginn-und-Widerstand"
         target="_blank">
        https://orthodoxes-europa.at/projekte/Flucht-Gefangenschaft-Neubeginn-und-Widerstand
      </a>
    </p>
    <p class="text-center pt-3 fw-bold">
      {{ _('inhaltich_verantwortlich') }}
    </p>
    <p class="text-center">
      Doz. Mag. Dr. Mihailo Popović, {{ _('projektleiter') }} <br/>
      Digitales Geoportal der Geschichte der Orthodoxen in Österreich<br/>
      Kiningergasse 12/2/7<br/>
      1120 Wien<br/>
      Österreich<br/>
    </p>
    <p class="pt-3 text-center fw-bold">
      {{ _('konzept_ausstellungstexte') }}
    </p>
    <p class="text-center">
      Verena Demel, Peter Fraundorfer, Sandra Wabnitz, Mihailo Popović
    </p>
    <p class="pt-3 text-center fw-bold">
      {{ _('englische_übersetzung') }}
    </p>
    <p class="text-center">
      Peter Fraundorfer, Mihailo Popović
    </p>
    <p class="pt-3 text-center fw-bold">
      {{ _('kommunikationsdesign') }}
    </p>
    <p class="text-center">
      Peter Fraundorfer
    </p>
    <p class="pt-3 text-center fw-bold">
      {{ _('app_desgin') }}
    </p>
    <p class="text-center">
      Rainer Simon (AIT)
    </p>
    <p class="pt-3 text-center fw-bold">
      Website
    </p>
    <p class="text-center">
      Bernhard Koschicek-Krombholz
    </p>
    <p class=" pt-3 text-center">
      {{ _('wien') }} 2021

    </p>
  </div>
</div>
