<p>
  Die virtuelle Ausstellung „Auf der Flucht in der Monarchie: Das Schicksal der orthodoxen Flüchtlinge im Lager Oberhollabrunn (1914-1918)“ wird veröffentlicht von:
</p>
<p>
Digitales Geoportal der Geschichte der Orthodoxen in Österreich
</p>
<p>
Vertreten durch:
Doz. Mag. Dr. Mihailo Popović, Projektleiter
Kiningergasse 12/2/7
1120 Wien
Österreich
</p>
<p>
Kontakt: mihailop@hotmail.com
</p>
<p>
Die virtuelle Ausstellung „Auf der Flucht in der Monarchie: Das Schicksal der orthodoxen Flüchtlinge im Lager Oberhollabrunn (1914-1918)“ wurde vom Zukunftsfonds der Republik Österreich im Rahmen des Projektes P19-3804 gefördert.
</p>
<p>
Zum Projekt: https://orthodoxes-europa.at/projekte/Flucht-Gefangenschaft-Neubeginn-und-Widerstand
</p>
<p>
Inhaltlich verantwortlich:
Doz. Mag. Dr. Mihailo Popović, Projektleiter
Digitales Geoportal der Geschichte der Orthodoxen in Österreich
Kiningergasse 12/2/7
1120 Wien
Österreich
</p>
<p>
Konzeption & Ausstellungstexte
Verena Demel, Peter Fraundorfer, Sandra Wabnitz, Mihailo Popović
</p>
<p>
Kommunikationsdesign
Peter Fraundorfer
</p>
<p>
Website
Bernhard Koschicek-Krombholz
</p>
<p>
Wien 2021

</p>
